<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Register')"></head>

<body class="d-flex align-items-center justify-content-center">

<div class="container my-5">

    <form th:action="@{/register}" th:object="${user}"
          method="post" class="form col-3 mx-auto">

        <h2 class="text-center mb-3"> User Registration</h2>

        <div class="form-group mb-3">
            <label for="firstName">First Name: </label>
            <input id="firstName" class="form-control" type="text" th:field="*{firstName}">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>

        <div class="form-group mb-3">
            <label for="lastName">Last Name: </label>
            <input id="lastName" class="form-control" type="text" th:field="*{lastName}">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>

        <div class="form-group mb-3">
            <label for="username">Username: </label>
            <input id="username" class="form-control" type="text" th:field="*{username}">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>

        <div class="form-group mb-3">
            <label for="email">Email: </label>
            <input id="email" class="form-control" type="email" th:field="*{email}">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="form-group mb-3">
            <label for="password">Password: </label>
            <input id="password" class="form-control" type="password" th:field="*{password}">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <div class="form-group mb-3">
            <label for="password2">Password (repeat): </label>
            <input id="password2" class="form-control" type="password" th:field="*{password2}">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></div>
        </div>

        <div class="mb-5">
            <label for="role">Choose your role</label><br>
            <select id="role" th:field="*{role}" required>
                <option th:value="user">User</option>
                <option th:value="recruiter">Recruiter</option>
            </select>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

        <div>
            <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
        </div>
    </form>
</div>
</body>
</html>
